img {
  width: 500px;
  border-radius: 50%;
  border: solid black;
}

.detaildiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: large;
}
